<aside ng-if="isPageOwner">
  <!--
  Icon Selector: Type (FB, LI, TW, G+, Custom, etc)
  URL Input: to your Sign
  knownAs input: your username or what you're known as
  Description Input: short desc
  Custom options per type (friend-me, connect, etc)
  Custom Checkbox for showing info: picture? Etc.
-->
  <md-card>
    <h2 class="view-h2">new {{sign.type || ''}} sign</h2>

    <!-- Auto-Add Signs Links -->
    <div layout="column" class="signsLinks" ng-if="sign.signType !== 'custom'">
      <md-content layout-padding layout="column" flex="90" offset="5">
        <md-input-container>
          <div class="sign-form-types-container">
            <!-- AS THIS GETS LONGER, MAKE IT SWIPE SCROLL -->



            <!-- FIX THIS TO CHANGE ICON TYPE AS WELL -->

            <div data-ng-repeat="type in types" class="sign-form-type">
              <div ng-hide="{{type.disabled}}" ng-click="createAutoSign({type: type})">
                <md-tooltip>{{type.type}}</md-tooltip>
                <a ng-href=""><ng-md-icon icon="{{type.icon}}" style="fill: {{type.color}}" size="{{defaults.size}}" ng-class="activeColor({type: type.type})" class="sign-selector"></ng-md-icon></a>
              </div>
            </div>
          </div>
          (select sign type)
          <md-divider></md-divider>
        </md-input-container>
      </md-content>
    </div>

    <!-- Manual Form -->
    <div layout="row" ng-show="sign.signType === 'custom'">
      <md-content layout-padding layout="column" flex="90" offset="5">
        <form name="signForm" data-ng-Submit="submitAction({sign: sign})">

          <!-- Sign Type Selection-->
          <md-input-container>
            <div class="sign-form-types-container">
              <!-- TODO: Make this a require input field - button selected-->
              <!-- AS THIS GETS LONGER, MAKE IT SWIPE SCROLL -->



              <!-- FIX THIS TO CHANGE ICON TYPE AS WELL -->

              <div data-ng-repeat="type in types" class="sign-form-type">
                <div data-ng-click="sign.type=type.type" ng-show="{{type.disabled}}">
                  <md-tooltip>{{type.type}}</md-tooltip>
                  <ng-md-icon icon="{{type.icon}}" style="fill: {{type.color}}" size="{{defaults.size}}" ng-class="activeColor({type: type.type})" class="sign-selector"></ng-md-icon>
                </div>
              </div>
            </div>
            (select sign type)
            <md-divider></md-divider>
          </md-input-container>

          <!-- Sign Title -->
          <md-input-container md-float layout="row">
            <ng-md-icon icon="star" style="fill: {{defaults.color}}" size="{{defaults.size}}"></ng-md-icon>
            <input type="text" name="signName" data-ng-model="sign.signName" placeholder="Sign Title" md-maxlength="30">

            <!-- Title Form Errors -->
            <div data-ng-messages="signForm.signName.$error" data-ng-show="signForm.signName.$dirty">
              <div data-ng-message="maxlength">title too long</div>
            </div>

          </md-input-container>

          <!-- Sign Url -->
          <md-input-container md-float layout="row">
            <ng-md-icon icon="public" style="fill: {{defaults.color}}" size="{{defaults.size}}"></ng-md-icon>
            <input type="url" data-ng-model="sign.linkUrl" placeholder="http://www.somesite.com/...." required>
          </md-input-container>

          <!-- Known As -->
          <md-input-container md-float layout="row">
            <ng-md-icon icon="face" style="fill: {{defaults.color}}" size="{{defaults.size}}"></ng-md-icon>
            <input type="text" data-ng-model="sign.knownAs" placeholder="eg: @itsmeee">
          </md-input-container>



          <!-- Sign Description -->
          <md-input-container md-no-float layout="row">
            <ng-md-icon icon="info" style="fill: {{defaults.color}}" size="{{defaults.size}}"></ng-md-icon>
            <input type="text" name="desc" data-ng-model="sign.description" placeholder="short sign description" md-maxlength="100">

            <div data-ng-messages="signForm.desc.$error" data-ng-show="signForm.desc.$dirty">
              <div data-ng-message="maxlength">Description too long</div>
            </div>

          </md-input-container>

          <!-- Submit Icon Button -->
          <md-button class="md-fab fab-color-grey" type="submit" ng-disabled="signForm.$invalid">
            {{buttonName}}
          </md-button>
          <md-button class="md-fab fab-color-grey" type="button" ng-click="sign.signType = null">
            X
          </md-button>
        </form>
      </md-content>
      <div flex></div>
    </div>
  </md-card>
</aside>
