<div layout="row">
  <md-sidenav md-component-id="left" class="md-sidenav-left">

    <!-- Signed IN OR OUT content -->
    <md-list>
    <!-- Search -->
      <md-list-item class="sidenav-search">
        <form name="searchForm" ng-submit="searchUsers()">
          <md-input-container md-float layout="row">
            <input type="text" data-ng-model="search" data-ng-model="search.searchStr" placeholder="find someone">
            <button type="submit" class="sidenav-search-btn-icon">
              <ng-md-icon icon="search" style="fill: #ffffff" size="25"></ng-md-icon>
            </button>
          </md-input-container>
        </form>
      </md-list-item>
    </md-list>


    <!-- Signed IN content -->
    <md-list data-ng-if="isSignedIn">
      <md-list-item>
        <!-- <p>You're signed in</p>             -->
      </md-list-item>

      <!-- MAKE THIS A NG-REPEAT DIRECTIVE -->
      <md-list-item class="sidenav-link">
        <a data-ng-href="/#/signs">
          <ng-md-icon class="sidenav-link-icon" icon="label" style="fill: #ffffff" size="40"></ng-md-icon>
          <strong>my signs</strong>
        </a>
      </md-list-item>
      <md-list-item class="sidenav-link">
        <a data-ng-href="/#/logout">
          <ng-md-icon class="sidenav-link-icon" icon="logout" style="fill: #ffffff" size="40"></ng-md-icon>
          <strong>logout</strong>
        </a>
      </md-list-item>
      <md-list-item class="sidenav-link">
        <a data-ng-href="/#/logout">
          <ng-md-icon class="sidenav-link-icon" icon="settings" style="fill: #ffffff" size="40"></ng-md-icon>
          <strong>setings</strong>
        </a>
      </md-list-item>
    </md-list>


    <!-- Signed OUT content -->
    <md-list data-ng-if="isSignedOut">

      <md-list-item>
        <md-list>

          <!-- Oauth Login Links -->
          <h4 class="sidenav-oauth-login-title"> login options </h4>
          <a data-ng-href="/login/facebook" class="sidenav-link">
            <ng-md-icon class="sidenav-link-icon" icon="facebook-box" style="fill: #ffffff" size="40" ></ng-md-icon>
          </a>
          <a data-ng-href="/login/linkedin" class="sidenav-link">
            <ng-md-icon class="sidenav-link-icon" icon="linkedin-box" style="fill: #ffffff" size="40" ></ng-md-icon>
          </a>
          <a data-ng-href="/login/google" class="sidenav-link">
            <ng-md-icon class="sidenav-link-icon" icon="google-plus-box" style="fill: #ffffff" size="40" ></ng-md-icon>
          </a>
          <a data-ng-href="/login/github" class="sidenav-link">
            <ng-md-icon class="sidenav-link-icon" icon="github-box" style="fill: #ffffff" size="40" ></ng-md-icon>
          </a>
          <a data-ng-href="/login/twitter" class="sidenav-link">
            <ng-md-icon class="sidenav-link-icon" icon="twitter" style="fill: #ffffff" size="40" ></ng-md-icon>
          </a>


          <br>
          <h4 class="sidenav-oauth-login-title"> OR </h4>
          <!-- Signpost Login Form -->
          <md-card class="sidenav-login">
            <h4 class="sidenav-login-title" data-ng-click="loginToggle()"> login with signpost </h4>
            <md-content ng-show="showLogin" class="md-padding md-default-theme sidenav-login-content">
              <div data-login-directive></div>
            </md-content>
          </md-card>
          <br>

        </md-list>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-content class="sidenav-menu">
    <div data-ng-click="openLeftMenu()" class="bg-gray">
      <ng-md-icon icon="menu" style="fill: white" size="50"></ng-md-icon>
    </div>
  </md-content>

  <!-- <md-sidenav md-component-id="right" md-is-locked-open="mdMedia('min-width:333px')" class="md-sidenav-right">
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input id="testInput" type="text" ng-model="data" md-sidenav-focus>
      </md-input-container>
    </form>
  </md-sidenav> -->
</div>
