<div layout="row">
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-list data-ng-if="isSignedIn">
      <md-list-item> <p>You're signed in</p>            </md-list-item>
      <md-list-item> <a href="/#/logout">Logout</a>     </md-list-item>
      <md-list-item> <a href="/#/signs">Signs Page</a>  </md-list-item>
    </md-list>

    <md-list data-ng-if="isSignedOut">
      <md-list-item> <p>You're signed out</p>           </md-list-item>
      <md-list-item> <a href="/#/login">Login Page</a>  </md-list-item>
    </md-list>
  </md-sidenav>

  <md-content>
    <i class="fa fa-bars fa-3" data-ng-click="openLeftMenu()"></i>
  </md-content>

  <md-sidenav md-component-id="right" md-is-locked-open="mdMedia('min-width:333px')" class="md-sidenav-right">
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input id="testInput" type="text" ng-model="data" md-sidenav-focus>
      </md-input-container>
    </form>
  </md-sidenav>
</div>
