<md-card id="{{'sign_' + sign._id}}" layout="row">

  <!-- Main Icon -->
  <div class="sign-listitem-icon">
    <a data-ng-href="{{sign.linkUrl}}" hover-icon-img-directive>
      <ng-md-icon icon="{{sign.icon}}" style="fill: {{sign.bgColor}}" size="{{icons.size}}"></ng-md-icon>
      <img ng-src="{{sign.picUrl}}" alt="{{sign.signType + ' optional image'}}" class="sign-listitem-image" height="{{icons.size}}" width="{{icons.size}}">
    </a>
  </div>

  <div layout="column" flex>

    <div class="sign-listitem-info" layout="column" flex>

      <!-- sign display items -->
      <div class="sign-listitem-content" ng-if="!sign.isEditing">
        <!-- TODO: INSTEAD OF ng-if, PROVIDE DIRECTIVES FOR EACH TYPE OF SIGN: TYP-AUTO, CUSTOM, Phone, Email... -->
        <h3 class="sign-listitem-title" ng-if="sign.signType === 'custom'">
          {{sign.signName}}
        </h3>
        <p class="sign-listitem-knownas"> {{ sign.knownAs }} </p>
        <p class="sign-listitem-desc"> <sm>{{sign.description}}</sm> </p>

        <!-- edit icon -->
        <div ng-if="!sign.isEditing">
          <a data-ng-click="toggleEditing({sign: sign})" class="sign-listitem-editicon">
            <ng-md-icon icon="edit" style="fill: black" size="20"></ng-md-icon>
          </a>
        </div>
      </div>


      <!-- Form for Editing Signs - NOT DYNAMIC YET-->
      <div data-dyn-sign-form-directive
             data-sign="sign"
             data-submit-action="updateSign(sign)"
             data-toggle-editing="toggleEditing(sign)">
      </div>

    </div>

  </div>

  <!--
    Sign Icon Link (left) w/color of sign or custom
    Name
    Type of Sign (custom ONLY)
    Small Edit Icon (bott right) if owner: sign.userID === user._id
  -->
</md-card>
