## See http://help.github.com/ignore-files/ for more about ignoring files.

## Folders
**/node_modules
**/bower_components
**/build/
**/dist/

## General Files
*.DS_Store
*bundle.js

## Specific Files
.env
.env-gulp
npm-debug.log
