
/*
http://www.color-hex.com/color/a6a6a6
5a5a5a    DARK Grey
676767
737373
8d8d8d
9a9a9a
a6a6a6
b7b7b7
c9c9c9    LIGHT Grey
e4e4e4
ffffff    white
*/


body {
  background-color: #808080;
  height: auto;
  min-height: 100% !important;
}

/*General Background Color*/
.bg-gray {
  background-color: #808080;
}

/*COLORS*/
.facebook-color {
  fill: #3b5998 !important;
}
.custom-color {
  fill: #955251 !important;
}
.default-form-icon {
  fill: #5a5a5a !important;
}




/*General In-Page Title Formatting*/
.view-h2 {
  color: #a6a6a6;
  text-align: center;
}

/*Sidenav Hamburger Menu*/
.sidenav-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sidenav-menu svg:hover {
  fill: #955251 !important;
}
/*Sidenav Menu (open)*/
.md-sidenav-left {
  background-color: #c9c9c9;
}

/*Sidenav Content*/
.md-sidenav-left, md-sidenav {
  width: 250px;
  min-width: 250px;
}
.sidenav-main-title {
  color: #955251;
}

md-checkbox.md-checked.sidenav-login-termscond .md-icon {
  background-color: #955251;
}
md-checkbox.md-checked.sidenav-login-newaccount .md-icon {
  background-color: #955251;
}
.sidenav-login-top {
  background-color: #ffffff;
}
.sidenav-login-content {
  background-color: #e4e4e4;
}
.sidenav-login-content .login-input-container {
  padding-bottom: 10px
}
.sidenav-login-title {
  color: #5a5a5a;
  margin: 10px auto 10px auto;
  text-align: center;
}

.sidenav-link a {
  text-decoration: none;
  color: white;
}
.sidenav-link:hover {
  color: #955251;
}
.sidenav-link-icon {
  display: inline-block;
  fill: #ffffff !important;
  vertical-align: middle;
}
.sidenav-link-icon:hover {
  fill: #955251 !important;
}



/*New Sign Fab*/
.fab-plus svg {
  fill: #808080 !important;
  height: 30px;
  vertical-align: middle;
}
.fab-plus:hover svg {
  fill: white !important;
}
.fab-color-newsign {
  background-color: white !important;
}
.fab-color-newsign:hover {
  background-color: #955251 !important;
}


/*Sign Form*/
.sign-form-types-container {
  display: inline-block;
}
.sign-form-type {
  float: left;
}
/*Create Sign Button*/
.md-button.md-fab.fab-color-grey {
  background-color: #676767;
  color: white;
}
.md-button.md-fab.fab-color-grey:hover {
  background-color: #955251;
}

/*Sign Listitem*/
.sign-listitem {
  /*EXPAND CONTAINER TO FIT CONTENTS - INCLUDING ICONS*/
}
.sign-listitem-icon {
  position: relative;
}
.sign-listitem-icon svg {
  opacity: 1;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  visibility: visible;
  z-index: 10;
}
.sign-listitem-icon img {
  border-radius: 10px;
  height: 100px;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: 10px;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  visibility: hidden;
  width: 100px !important;
  z-index: 10;
}

.sign-listitem-image {

}
.sign-listitem-knownas {
  font-size: 1.5em;
}
.sign-listitem-cancelicon {
  position: relative;
  right: 5px;
}
.sign-listitem-editicon {
  position: relative;
}.sign-listitem-saveicon {
  position: relative;
}
