<div data-ng-controller="signsController" data-ng-init="getSigns()" >

  <main id="signsview" layout="row">

    <section offset="5" flex="90">
      <md-content class="md-padding">

        <!-- Display Each Sign  -->
        <div data-ng-repeat="sign in signs"
             layout="row"
             data-sign-listitem-directive
               data-icons="icons"
               data-sign="sign"
               data-toggle-editing="toggleEditing(sign)"
               data-submit-action="updateSign(sign)">
        </div>

        <!-- New Custom Sign Form -->
        <div data-new-signs-area-directive
               data-active-color="activeColor(type)"
               data-button-name="add"
               data-defaults="defaults"
               data-form-type="new"
               data-sign="newSign"
               data-submit-action="createSign(sign)"
               data-toggle-editing="toggleEditing(sign)"
               data-href-link="hrefLink(type)"
               data-create-auto-sign="createAutoSign(type)"
               data-types="types">
        </div>
      </md-content>
    </section>
    <div flex="5"></div>
  </main>

  <nav>
    <!-- Add New Sign -->
    <!-- <md-button ng-hide="newSign.newSignForm" class="md-fab md-fab-bottom-right fab-color-newsign" type="button" data-ng-click="toggleEditing(newSign)">
      <ng-md-icon icon="add" style="fill: #ffffff" size="40" class="fab-plus"></ng-md-icon>
    </md-button> -->

  </nav>

</div>

