<!-- <h1 data-ng-href="/auth/facebook">Facebook Signin</h1>

Incorporate this as a toggle for the sidenav login - same form, different labels & actions
<h1>Sign Up</h1>
<div data-ng-controller="usersController">
  <p>{{notify}}</p>
  <form name="makeUser">
    <label>Username</label>
    <input type="text" data-ng-model="newUser.username">
    <label>Password</label>
    <input type="password" data-ng-model="newUser.password">
    <label>Email</label>
    <input type="text" data-ng-model="newUser.email">
    <button type="submit" data-ng-click="createUser(newUser)"> make User! </button>
  </form>
</div>
 -->
